@import url(./global.css);

/*----------- HEADER ------------------------- */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 22px 80px;
}

/* MENU */
.navigation-header ul {
    display: flex;
    gap: 48px;
    list-style: none;
}

.navigation-header a {
    text-decoration: none;
    color: #18191F;
    font-weight: 500;
    transition: 0.3s;
}

.navigation-header a:hover {
    color: #4CAF4F;
}

/* BOTÕES HEADER */
.container-buttons {
    display: flex;
    gap: 12px;
}

.btn {
    text-decoration: none;
    font-weight: 600;
    padding: 10px 18px;
    border-radius: 6px;
    transition: 0.3s;
}

.btn.login {
    color: #4CAF4F;
}

.btn.login:hover {
    opacity: 0.7;
}

.btn.sign-up {
    background-color: #4CAF4F;
    color: white;
}

.btn.sign-up:hover {
    transform: translateY(-2px);
    box-shadow: 0 10px 20px rgba(76, 175, 79, 0.2);
}

/* HERO */
.hero-section {
    padding: 80px;
    background-color: #F5F7FA;
}

/* LADO A LADO */
.hero-main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 104px;
    padding: 60px;
}

/* TEXTO */
.hero-content h1 {
    font-size: 64px;
    font-weight: 700;
    color: #4D4D4D;
    line-height: 76px;
}

.hero-content span {
    color: #4CAF4F;
}

.hero-content p {
    margin-top: 16px;
    color: #717171;
}

/* BOTÃO HERO */
.hero-button {
    display: inline-block;
    margin-top: 32px;
    padding: 14px 32px;
    background-color: #4CAF4F;
    color: white;
    text-decoration: none;
    border-radius: 6px;
    font-weight: 600;
    transition: 0.3s;
}

.hero-button:hover {
    transform: translateY(-2px);
    box-shadow: 0 10px 20px rgba(76, 175, 79, 0.2);
}

/* IMAGEM */
.hero-image img {
    width: 390px;
}

/* DOTS EMBAIXO */
.carousel-dots {
    display: flex;
    justify-content: center;
    gap: 8px;
    margin-top: 40px;
    padding: 10px;
}

.dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #D9D9D9;
}

.dot.active {
    background-color: #4CAF4F;
    transform: scale(1.2);
}

/*----------------our clients----------*/


.clients{
    background-color: #FFFFFF;
    text-align: center;
    padding: 40px 144px 20px 144px;
}

.clients h2{
    font-size: 36px;
    font-weight: 700;
    color: #4D4D4D;
    margin-bottom: 8px;
}

.clients p{
    font-size: 16px;
    color: #717171;
    margin-bottom: 40px;
}

.clients-logos{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 144px;
}

.clients-logos img{
    transition: transform 0.3s ease;
    cursor: pointer;
}


.clients-logos img:hover{
    transform: scale(1.15);
    filter: brightness(1.1);
}

/*----------------------------------comunnity--------------------------------*/

.community{
    text-align: center;
    margin-top: 80px;
    padding-top: 20px;
    padding-bottom: 40px;

}

.community h2{
    font-size: 36px;
    font-weight: 700;
    color: #4D4D4D;
    line-height: 44px;
}

.subtitle{
    margin-top: 8px;
    color: #717171;
    font-size: 16px;
}

.cards{
    display: flex;
    justify-content: center;
    gap: 127px;
    margin-top: 48px;
}

.card{
    width: 299px;
    padding: 24px;
    border-radius: 8px;
    background: #FFFFFF;
    box-shadow: 0px 2px 4px rgba(171,190,209,0.2);

    transition: all 0.3s ease;
    cursor: pointer;
}

.card:hover{
    transform: translateY(-10px);
    background-color: #E8F5E9;
    box-shadow: 0px 10px 20px rgba(171,190,209,0.3);
}



.card img{
    width: 65px;
    margin-bottom: 16px;
}

.card h3{
    font-size: 28px;
    font-weight: 700;
    color: #4D4D4D;
    margin-bottom: 16px;
}

.card p{
    font-size: 14px;
    color: #717171;
    line-height: 20px;
}

.card:hover{
    transform: translateY(-10px);
}

.clients,
.community,
.pixelgrade{
    background-color: #FFFFFF;
}